.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
coupling_app/.DS_Store
dataset/.DS_Store
table_scripts/.DS_Store
data/cdf78_0.prn
data/cdf78_240.prn
data/cdf78_250.prn
data/cdf78_0.txt
data/cdf78_240.txt
data/cdf78_250.txt
data/46km/cdf46_0.prn
data/46km/cdf46_250.prn
data/46km/cdf46_c0.txt
data/46km/cdf46_c250.txt
data/62km/cdf62_0.prn
data/62km/cdf62_250.prn
data/62km/cdf62_c0.txt
data/62km/cdf62_c250.txt
data/78km/cdf78_0.prn
data/78km/cdf78_250.prn
data/78km/cdf78_c0.txt
data/78km/cdf78_c250.txt
data/94km/cdf94_0.prn
data/94km/cdf94_250.prn
data/94km/cdf94_c0.txt
data/94km/cdf94_c250.txt
data/46km/cdf46.RData
data/62km/cdf62.RData
data/78km/cdf78.RData
data/94km/cdf94.RData
