PICTUREENV=(?:picture|DIFnomarkup|sidewaystable|sidewaysfigure|threeparttable|table|landscape|tabular|tabularx|tablenotes|caption|figure|longtable)[\w\d*@]*
MATHENV=(?:displaymath|equation|alignedat|gathered|aligned|align)[\w\d*@]*
FLOATENV=(?:figure|table|plate)[\w\d*@]*
MINWORDSBLOCK=3
SCALEDELGRAPHICS=0.3
